table,th,tr,td{
    background-color: rgb(240, 171, 186);
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
    border-collapse: collapse;
    height: 42px; 
    width: 790px ; 
    text-align: center;
    margin-top: 80px;
    padding: 10px 15px;
    
}